.footer {
  width: 100%;
  padding: 2rem 0;

  a {
    @include font-weight(bold);
    color: var(--text-shade2);

    @include respond(large) {
      transition: 0.3s ease;

      &:hover {
        color: var(--primary);
      }
    }
  }

  &__text {
    @include font-size(small);
    color: rgba($color: var(--text-shade1), $alpha: 0.7);
  }
}
