.page {
  background-color: var(--secondary);
  color: var(--text-shade1);

  &-body {
    min-height: calc(100vh - 72px);
  }

  &--no-overflow {
    overflow: hidden;
  }

  &--default {
    overflow: auto;
  }
}
