:root {
  --logo: #52527a;
  --primary: #2d9cdb;
  --secondary: #fff;
  --switch-shade1: #f43862;
  --switch-shade2: #fdac32;
  --switch-shade3: #fdcb32;
  --switch-icon: #f88748;
  --text-shade1: #656565;
  --text-shade2: #1d1d1d;
  --pagination-active: rgba(45, 156, 219, 0.18);
  --pagination-hover: rgba(29, 29, 29, 0.14);
}

:root.dark-theme {
  --logo: #fff;
  --primary: #fff;
  --secondary: #52527a;
  --switch-shade1: #3e0574;
  --switch-shade2: #290e97;
  --switch-shade3: #d84494;
  --switch-icon: #501a96;
  --text-shade1: #f2f2f2;
  --text-shade2: #fff;
  --pagination-active: rgba(255, 255, 255, 0.18);
  --pagination-hover: rgba(255, 255, 255, 0.14);
}
