.switch {
  display: flex;
  align-items: center;
  width: 60px;
  height: 30px;
  padding: 0 5px;
  border: 0;
  border-radius: 25px;

  background-image: linear-gradient(
    109.8deg,
    var(--switch-shade1) -5.2%,
    var(--switch-shade2) 0,
    var(--switch-shade3) 103.3%
  );

  @include respond(small) {
    width: 100px;
    height: 40px;
  }

  @include respond(large) {
    cursor: pointer;
  }

  &--start {
    .switch__handle {
      transform: translateX(0);
    }
  }

  &--end {
    .switch__handle {
      transform: translateX(40px);

      @include respond(small) {
        transform: translateX(60px);
      }
    }
  }

  &__handle {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
    background-color: color(white);
    transform-origin: 50% 50% 0px;
    transition: all 0.3s ease;

    @include respond(small) {
      width: 30px;
      height: 30px;
    }
  }

  &__icon {
    @include font-size(regular);
    color: var(--switch-icon);
  }
}
